{% extends '@Blog/bootstrap.layout.html.twig' %}

{% block title %}Список публикаций{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <style>
        .post-block {
            margin-bottom: 10px;
            border: 1px solid;
        }

        .post-block .pub-date {
            font-size: 12px;
            color: gray;
        }

        .post-block .author {
            color: green;
        }

        .post-block .post-title {
            font-size: 18px;
        }

        .post-block .post-teaser {
            padding: 0 10px 10px;
        }
    </style>
{% endblock %}


{% block body %}
    <div class="container">

        {% if posts|length %}
            <h1 align="center">Список публикаций</h1>
            {% include '@Blog/layer/sort.html.twig' with {'sortDirection': sort.pubDate} only %}
            <div class="row posts-list">
                {% for post in posts %}
                    <div class="col-lg-12 post-block">
                        <span class="pub-date">{{ post.pubDate|date('H:i:s d-m-Y') }}</span>
                        <a class="author" href="{{ path('author_posts', {'author': post.author.id}) }}" title="Опубликовал {{ post.author.name }}">{{ post.author.name }}</a>

                        <p class="post-title">{{ post.title }}</p>
                        <div class="post-teaser">
                            {{ post.teaser }}
                        </div>
                        <p><a href="{{ path('blog.posts.view', {'post' : post.id}) }}">Читать</a></p>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <h1 align="center">Публикации не найдены</h1>
        {% endif %}

        {% include '@Blog/layer/pagination.html.twig' %}
    </div>

{% endblock %}
